name: Test
on: [push, pull_request]
jobs:
  test:
    timeout-minutes: 5
    runs-on: ubuntu-latest
    strategy:
      matrix:
        version: ["2.12", "2.14", "2.15"]
    container:
      image: google/dart:${{ matrix.version }}
    steps:
      - uses: actions/checkout@v1
      - name: Install dependencies
        run: pub get
      - name: Run tests
        run: pub run test
